# Variables de de las descarga de imagenes Dicom
host_dicom=192.168.00.XX
user_dicom=Usuario
password_dicom=Contraseña
ruta_guardado_imagenes=C:/Users/User-Pc1/Imagenes/
port_dicom=8042 # Puerto por defecto de servidor dicom 
# Variables para la conexion con la base de datos
database=my_database
host_db=192.168.00.XX
port_db=3306
user_db=user
password_db=pass
